/* TODO Add site wide styles */
* {
  font-family: 'American Typewriter';
  max-width: 100%;
  overflow-x: hidden;
}

.nav-signup {
  color: white;
  text-decoration: none !important;
}
.signup-cancel-btn {
  color: black;
  text-decoration: none !important;
}

.signup-cancel-btn:hover {
  color: red;
}

.alt-font {
  font-family: 'tahoma', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;

}

.navbar {
  background-color: black;
  display: flex;
  color: white;
  width: 100%;
  top: 0;
  min-width: 100%;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.nav-login-modal {
  background-color: #349ce4;
}

.photo-title {
  font-family: 'American Typewriter'
  }

.photo-index-navlink {
  max-width: 500px;
  background-color: #648cac;
  box-shadow: 0 0 20px black;
  border: 2px solid pink;
  height: 300px;
  text-decoration: none !important;
  color: black;
}
.photo-index-nav {
  background-color: #b2b6b0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100vh;
  padding: 25px 0 0 0;
}

.photo-index-navlink:hover {
  transform: scale(1.05);
}
.photo-index-img {
  width: 500px;
  background-color: pink;
  display: flex;
  align-items: center;
  max-width: 600px;
  max-height: 300px;
  box-shadow: 0 0 5px black;
  overflow-x:hidden;
  overflow-y:hidden;
}
.photo-navlink {
  background-color: aqua;
}

.photo-detail-title {
  font-size: 30px;
  margin: 5vh;
}

.photo-detail-delete-btn {
  margin: 1vh;
  background: red;
  font-size: 15px;
  border-radius: 5px;
}
.photo-detail-delete-btn:hover {
  background: red;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

.photo-detail-delete-btn:active {
  /* transform: translateY(2px); */
  background: red;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

.photo-nav {
  background-color: #354551;
}

.photo-detail-div {
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh;
}
.photo-detail-image {
  width: 900px;
  box-shadow: 0 0 5px black;
}
.photo-detail-div:child {
  margin: 20px;
}

img {
  border-radius: 5px;
}

.edit-title-modal {
  padding: 50px;
  margin: 40px;
  color: red;
  height: 50px;
}

#modal-content {
  border-radius: 5px;
  margin: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-demo-user-btn {
  display: flex;
  align-items: center;
  margin: 10px;
}

.modal-login-btn {
  display: flex;
  align-items: center;
  margin: 10px;
}


.add-image-form {
  margin: 10px;
}

.comment-body {
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  /* width: 95%; */
}
.comment-index-div {
  margin: 10px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(98, 111, 125);
  width: 600px;
  box-shadow: 0 0 5px black;
}

.comment-delete-btn {
  background-color: red;
}

.splash-component-outer-div{
  padding: 50px;
  border: 1px solid black;
  position: absolute;
  top: calc(30%);
  left: calc(45%);
  width: 100px;
  height: 65px;
  border-radius: 5px;
  background-color: grey;
  box-shadow: 0 0 5px black;
}

.splash-component-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-bg-image {
  height: 100vh;
  width: 100vw;
  background-image: url('../public/images/mike-bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
}

.signup-outer-form {
  display: flex;
  justify-content: center;
  margin-top: calc(10%);
}

.signup-inner-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30%;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px black;
}

input {
  width: auto;
  color: black;
  padding: 10px 20px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

label {
  font-weight: 900;
  padding: 5px;
}


button {
  cursor: pointer;
}
