.login-form-form {
  width: 400px;
  height: 300px;
}

#login-form-id{
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
  width: 450px;
  padding: 10px 20px;
  border-radius: 5px;
}

#login-form-id > label:nth-child(2) > input {
  position: relative;
  left: calc(5%)
}
#login-form-id > label:nth-child(3) > input {
  position: relative;
  left: calc(32%)
}

.get-started {
  font-size: 26px;
  text-decoration: none;
  color: black;
}
